*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 18px;
    font-family: 'Prompt', sans-serif;
    font-weight: 200;
    color: #242421;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F2F3F7;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}
.bold{
    font-weight: 700;
}

.container{
    /* background-color: #59344F; */
    border-radius: 10px;
    height: 500px;
    width: 700px;
    box-shadow: -3px -3px 8px rgba(255,255,255,1),
                -3px -3px 13px rgba(255,255,255,0.5),
                inset 3px 3px 8px rgba(255,255,255,0.1),
                3px 3px 9px rgba(0,0,0,0.5);
}
.container header{
    padding-top: 1rem;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container header h1{
    letter-spacing: 1px;
}
.main form{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main form input{
    height: 2rem;
    font-family: 'Prompt', sans-serif;
    background-color: transparent;
    border: 2px solid #8BBF9F;
    outline: 0;
    color: #242421;
    font-size: 0.9rem;
    padding-left: 10px;
    border-radius: 8px;
}
.main form input::placeholder{
    color: #8BBF9F;
}
.main form #select-room{
    position: relative;
    background-color: transparent;
    border: 2px solid #8BBF9F;
    outline: 0;
    color: #8BBF9F;
    font-family: 'Prompt', sans-serif;
    font-size: 0.9rem;
    width: 100%;
    height: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
}
.submit-btn{
    color: #F2F3F7 !important;
    padding-left: 0 !important;
    background-color: #8BBF9F !important;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.5s ease-in;
}
.submit-btn:hover,
.submit-btn:focus{
    cursor: pointer;
    color: #8BBF9F !important;
    background-color: transparent !important;
    transition: all 0.2s ease-in;
}
.submit-btn:active{
    transform: scale(0.98);
}
